# Database config
DATABASE_FILE=backend/hockey_coach.db

# Seed parameters for first-time DB initialization
DEFAULT_GOOGLE_CLIENT_ID=1083993716124-rle31j9i93h345fg33o536o5ur6vmp6s.apps.googleusercontent.com
DEFAULT_COACH_EMAILS=singhalrajeev89@gmail.com
DEFAULT_SQUAD_PLAYERS=Shanaya,Kyra,Hannah,Liz wysocki lauterbach,Liv Noot,Kate Stam,Alina,Mira,Sai jiya,Defne kilic
